* {
    margin: 0;
    padding: 0;
}

.profileCard {
    width: 100%;
    height: 100vh;
    background-image: url(Assets/gradBack.jpg);
    background-position: center;
    background-size: cover;
    margin-inline: 1.5rem;
    display: grid;
    place-items: center;
}

.profileCard-box {
    position: relative;
    width: 200px;
    height: 275px;
    display: flex;
    text-align: center;
    padding: 1.25rem 2rem 3rem;
    border-radius: 1.5rem;
    border: 1px solid rgda(255, 255, 255, 0.3);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
    background: rgda(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
}

.box {
    position: relative;
    bottom: 100px;
}

.imageBox {
    width: 150px;
    height: 150px;
    background-color: #ffffff40;
    background: rgda(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    border-radius: 50%;
    display: grid;
    place-items: center;
    margin: 0 auto 2rem;
}

img {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
}

.box2 {
    font-family: 'Roboto', sans-serif;
    position: relative;
    bottom: 15px;
}

.profileContent {
    display: flex;
    flex-direction: column;
    gap: 8px;
    color: white;
}

.profileName {
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
}

.profilePosition {
    position: relative;
    font-size: medium;
    color: #D58BAA;
    bottom: 10px;
}

.profileLinks {
    position: relative;
    top: 2px;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
}

a {
    color: white;
    text-decoration: none;
}

.linkedin, .github {
    padding: 6px;
    width: 20px;
    border-radius: 50%;
    background-color:#ea3083 ;
}

.downloadCV {
    display: flex;
    background-color: #f29208;
    align-items: center;
    justify-content: center;
    padding: 6px 10px;
    border-radius: 25px;
}

.profileDescription {
    text-align: center;
    position: relative;
    top: 14px;
}
